---
//css読み込ませる
import "../style/stylesheet.css";
import { getSheetData } from "../lib/getSheetData.js"; // ←追加

const data = await getSheetData();
const groupedData = {};

data.forEach(entry => {
  if (!groupedData[entry.month]) {
    groupedData[entry.month] = [];
  }

  groupedData[entry.month].push(entry);
});

const latestEntry = data[data.length - 1];

// const entries = [
// 	{date: "2026-04-18", emoji:"🎶"},
// 	{date: "2026-04-17", emoji:"💻"},
// ];
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<link rel="icon" href="/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- <google font> -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500&display=swap" rel="stylesheet">


		<title>星より、</title>
	</head>

	<header>
		<!-- <div class="topImage"> -->
			<img src="/header.svg" alt="header" class="topImage" />
		<!-- </div> -->
	</header>

	<main>
		<div class="content">
			<h1 class="title"></h1>

			<!-- <div class="list">
				{data.map(entry => (
					<a href={`/diary/${entry.slug}`} class="item">
						<span class="emoji">{entry.emoji}</span>
						<span class="date">{entry.date}</span>
					</a>
				))}
			</div> -->

			<section class="latest-diary">

  				<p class="latest-label">今日の日記</p>
				<a href={`/diary/${latestEntry.slug}`} class="item">
    				<span class="emoji">{latestEntry.emoji}</span>
    				<span class="date">{latestEntry.date}</span>
  				</a>
			</section>

			<!-- トグル表示する -->
			<div class="list">
			{Object.entries(groupedData).reverse().map(([month, entries], index) => (
				<details open={index === 0}>

					<summary>✦ {month}</summary>

					<div class="month-list">
						{entries.map(entry => (
							<a href={`/diary/${entry.slug}`} class="item">
								<span class="emoji">{entry.emoji}</span>
								<span class="date">{entry.date}</span>
							</a>
						))}
					</div>

				</details>
			))}
			</div>
		</div>

		<footer>
    		Copyright © CanouSei. All Rights Reserved.
		</footer>
	</main>
</html>
