---
//css読み込ませる
import "../../style/stylesheet.css";
import { getSheetData } from "../../lib/getSheetData.js";

export async function getStaticPaths(){
    const data = await getSheetData();

    return data.map(entry => ({
        params: {
            slug: entry.slug
        }
    }));
}

const { slug } = Astro.params;
const data = await getSheetData();
const entry = data.find(e => e.slug === slug);

const currentIndex = data.findIndex(
  e => e.slug === slug
);

const prevEntry = data[currentIndex - 1];
const nextEntry = data[currentIndex + 1];

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<link rel="icon" href="/icon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

        <!-- <google font> -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500&display=swap" rel="stylesheet">


		<title>星より、</title>
	</head>
	<body>
        <div class = "diary-header">
		    <h1>{entry?.title || slug}</h1>
            <p class = "diary_time">{entry?.date}</p>
        </div>

            <!-- 日記本文 -->
            <div class="diary-content">

                <div class="diary-text">
                    <p class="diary-body">{entry?.body}</p>
                    <div class="diary-emoji">
                        <span class="emoji">{entry?.emoji}</p>
                    </div>
                </div>

                <section class="page-nav">

                    <div class="page_nav">
                        {nextEntry ? (
                            <a href={`/diary/${nextEntry.slug}`} class="nav-button">
                                ← 次のページ {nextEntry.emoji}
                            </a>
                            ) : (
                            <span class="nav-button disabled">← まだ記録されていません</span>
                        )}
                    </div>

                    <div　class="page_nav">
                        {prevEntry ? (
                            <a href={`/diary/${prevEntry.slug}`} class="nav-button">
                                 前のページ {prevEntry.emoji} →
                            </a>
                            ) : (
                            <span class="nav-button disabled">まだ記録されていません →</span>
                        )}
                    </div>
                </section> 

                <div class="button-wrap">
                    <a href="/" class="back-button">ホームへ</a>
                </div>

                
            </div>

            <footer>
    		    Copyright © CanouSei. All Rights Reserved.
		    </footer>
        </main>
	</body>
</html>
